body{


  font-family: Roboto, sans-serif;
  font-size: 28px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 400;

}

.outer{
  text-align: center;
}

.page{
  margin-top: 10px;
  background-color: #fff;
  max-width: 1200px;
  width: 100%;
  height: 98vh;
  display: inline-block;
  border: 2px solid;


}

.topofpage{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100px;

  background-color: #fd5b38;
}

.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  text-align: left;
}

.nav{
  padding-right: 50px;
}

.navright{
  margin-left: auto;
}
.navright_img{
max-width: 100px;
max-height: 100px;
}

.logo{
  margin: 50px;
  max-width: 200px;
  background-color: white;
  text-align: center;
  }

  .logo_img{
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
}


.menu{
  display: none;
}


a{
  text-decoration: none;
  color: #fff;
}
a: visited{
  color: #fff;
}
a:hover{
  color: black;
}

@media screen and (max-width: 850px){

  body{
    background-color: white;
  }

  .page{
      max-width: 480px;
  }

  .menu{
    display: inline-block;
  }

  .menu img{
    width: 50px;
    padding: 10px;
  }

  .logo{
    display: none;
  }
  .navbar{
    display: none;
  }
}

@media screen and (min-width: 850px) and (max-width:1250px){

  body{
    background-color: #fd5b38;
  }

  .page{
    max-width: 800px;
  }

}

@media screen and (min-width: 1400px){
  body{
    background-color: black;
  }

  .page{
    max-width: 1400px;
  }

}
